[submodule ".vim/bundle/vim-puppet"]
	path = .vim/bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/ps1"]
	path = .vim/bundle/ps1
	url = https://github.com/PProvost/vim-ps1.git
